<!-- row for error -->
<div class="row" ng-if="status.alert">
	<div class="col-sm-offset-3 col-sm-9">
		<!-- error -->
  		<div ng-if="status.alert" class="alert alert-danger">
  			<h4>Oh no!</h4><p>{{status.alert}}</p>
  		</div>
	</div>
</div>

<!-- session/book properties -->
<div class="row">
		<div class="col-sm-12 details-well col-push-down">
			 <div class="row">
			 	 <div class="col-xs-12 col-push-down">
			 	 	<h3>{{session.sessionName}}</h3>
			 	 </div>
			 	 			 	 
			 	 <div class="col-sm-2 col-xs-4">
			 	 	<img class="img-thumbnail" ng-if="session.book.id" ng-src="./services/secured/cover?bookId={{session.book.id}}&update={{imgUpdate}}"/>
			 	 </div>
			 	 <div class="col-sm-4 col-xs-8">
					 <p>{{session.book.title}}</p>
					 <p>{{session.book.author}}</p>
				 </div>
			 	 <div class="col-sm-4 col-xs-12 col-xs-offset-0">
					<p><strong>Total Run Time:</strong></p>
					<p>{{session.book.time | orator.seconds}}</p>
				 </div>
			 	 <div class="col-sm-2 col-xs-12 col-xs-offset-0">
					<div class="row">
			 	 		<div class="col-xs-12 col-push-down">
							<button ng-if="session.id" ng-click="toggleQR()" class="btn btn-small btn-default pull-right">{{ showQR ? "hide" : "show"}} <i class="fa fa-qrcode"></i> code</button>
						</div>
						<div class="col-xs-12 text-center">
							<img class="img-thumbnail" ng-if="session.id && showQR" ng-src="./services/secured/reading/{{session.id}}/qr"/>
						</div>
					</div>
				 </div>
			 </div>
		</div>
</div>

<!-- player -->
<div class="row">
		<div class="col-xs-12 col-sm-4 details-well">
			
			<!-- status/position -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<!-- basic info -->
					<p>{{getPlayingTrackIndex() + 1}} of {{session.book.bookTracks.length}}</p>
					<p><i class="fa fa-volume-up"></i> {{getPlayingTrack().fileName}}</p>
					<p><i class="fa fa-clock-o"></i> {{getCurrentTime() | orator.seconds}} (of {{getPlayingTrack().lengthSeconds | orator.seconds}})</p>
				</div>
			</div>
			
			<!-- controls -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<!-- next track -->
					<button class="btn btn-md btn-primary" ng-click="previousTrack()"><i class="fa fa-step-backward"></i></button>
					
					<!-- quick seek back -->
					<button class="btn btn-md btn-primary" ng-click="seekBackward()"><i class="fa fa-backward"></i></button>
					
					<!-- play/pause -->
					<button ng-if="!player.playing" class="btn btn-md btn-primary" ng-click="play()"><i class="fa fa-play"></i></button>
					<button ng-if="player.playing" class="btn btn-md btn-primary" ng-click="pause()"><i class="fa fa-pause"></i></button>
					
					<!-- quick seek forward -->
					<button class="btn btn-md btn-primary" ng-click="seekForward()"><i class="fa fa-forward"></i></button>
										
					<!-- previous track -->
					<button class="btn btn-md btn-primary" ng-click="nextTrack()"><i class="fa fa-step-forward"></i></button>
				</div>
			</div>
			
			<!-- advanced seek controls -->
			<div class="row">
				<div class="col-xs-12 text-center">

				</div>
			</div>
			
		</div>
		
		<div class="col-xs-12 col-sm-7 col-sm-offset-1 details-well">
			 <table ng-if="session.book.bookTracks" class="table table-striped table-hover table-bordered table-condensed">
			 	<thead>
			 		<tr>
					 	<th class="orator-table-header">
					 		track
					 	</th>
					 	<th class="orator-table-header">
					 		name
					 	</th>
					 	<th class="orator-table-header text-right">
					 		duration
					 	</th>
				 	</tr>
			 	</thead>
			 	<tbody>
			 		<tr ng-repeat="track in session.book.bookTracks">
			 			<td class="col-sm-1 col-xs-1 text-right">
			 				<i ng-if="track.active && player.playing" class="fa fa-play pull-left"></i>
			 				<i ng-if="track.active && !player.playing" class="fa fa-pause pull-left"></i>
			 				{{$index + 1}}
			 			</td>
			 			<td class="col-sm-4 col-xs-8">
			 				{{track.fileName}}
			 			</td>
			 			<td class="col-sm-2 col-xs-2 text-right">
			 				{{track.lengthSeconds | orator.seconds}}
			 			</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
</div>

<!-- where the audio goes -->
<div class="hidden" id="audioContainer">
	<!-- no content until audio element is created -->
</div>