body {
  padding-top: 75px;
}

/* Editing */
.in-place-edit {
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	border-bottom: 0px !important;
}

/* Segments */
.login-well, .details-well {
	border-width: 1px;
	border-color: #ebebeb;
	border-style: solid;
	
	padding-top: 25px;
	padding-bottom: 25px;
	
	background: #f7f2f7;	
}

.details-well-first {
	margin-right: 25px;
}

.col-push-down {
	margin-bottom: 10px;
}

.details-well {
	padding-left: 10px;
	padding-right: 10px;
}

/* table headers */
.orator-table-header {
	background: #cdcdcd;
}

/* file upload style */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* sortable stuff */
.sortable-placeholder {
	min-width: 100%;
	min-height: 100%;
	
	background-color: #ffcccc;
	
	border-width: 1px;
	border-style: dotted;		
}